popperhtml, body {
    margin: 0;
    font-family: 'Montserrat', monospace;
    background-color: #777777;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    width: 100%;
    margin: 0;
    border-bottom: 2px solid black;
    padding-top: 10px;
}

.title {
    display: inline-block;
    line-height: 50px;
    padding-left: 10px;
}

.search {
    display: inline-block;
    padding-right: 5px;
}

.settingGrid {
    display: grid;
    grid-template-columns: auto auto;
}

.mappingtypes {
    display: inline-block;
}

.mapping {
    display: grid;
    grid-template-columns: auto auto;
    padding: 10px;
}

.mapping label {
    display: inline-block;
    text-align: left;
    padding-top: 5px;
    padding-right: 10px;
}

.version {
    display: block;
    line-height: 100px;
    margin-right: 15px;
}

.version label {
    display: inline-block;
    line-height: normal;
}

#settingsBtn {
    margin-right: 10px;
    background-color: #808080;
}

#exportBtn {
    margin-right: 10px;
    background-color: #808080;
}

#importBtn {
    margin-right: 10px;
    background-color: #808080;
}

#exportConfirm {
    background-color: #808080;
}

#settingsBtn div {
    display: inline-block;
    text-align: center;
    line-height: normal;
}
#versionData {
    font-size: .5em;
    margin-bottom: 0;
}

#importType {
    display: grid;
    grid-template-rows: auto auto auto auto;
    text-align: left;
}

#closeImport {
    margin-top: 10px;
    background-color: #808080;
}

.version #versionSelect {
    margin: 10px;
    display: inline-block;
    height: 30px;
    font-size: 1em;
}

.version #mappingSelect {
    margin: 10px;
    display: inline-block;
    height: 30px;
    font-size: 1em;
}

.input {
    display: inline-block;
}

.input #searchInput {
    display: inline-block;
    font-size: 1em;
    border: none;
    background-color: #dddddd;
    border-radius: 10px;
    padding: 14px 5px;
    line-height: 1em;
}

.button {
    display: inline-block;
    cursor: pointer;
    padding: 0 15px;
    line-height: 50px;
    border-radius: 10px;
    color: white;
    background-color: #3355FF;
}

.type {
    padding: 0 10px;
    display: inline-block;
}

.type #searchType {
    height: 40px;
    font-size: 1em;
}

#popupContainer {
    position: fixed;
    width: 100%;
    top: 100px;
    z-index: 5;
}

.popup {
    overflow: hidden;
    display: inline-block;
    max-width: 50%;
}

.popupInner {
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    border: 2px outset black;
}


#settings .popup {
    min-width: 25%;
}

#loading .popupInner {
    min-width: 300px;
    max-width: 300px;
    min-height: 400px;
}

#loadingProfiler {
    padding-top: 10px;
}

.signatures {
    text-align: left;
}

.signatures label {
    display: block;
    padding: 10px;
}

#mojangConfirm {
    margin-right: 5px;
}

#mojangDeny {
    margin-left: 5px;
    background-color: #808080;
}

#results {
    display: grid;
    grid-template-columns: 4fr 1fr;
    width: 100%;
    background-color: #FFFFFF;
}

#resultsTable {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    background-color: #FFFFFF;
}

table {
    border: 1px solid black;
}

table tbody {
    width: 100%;
    word-break: break-word;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    border-width: 0 1px;
    border-color: black;
    border-collapse: separate;
    border-style: solid;
    outline: 1px solid;
}

th, td {
    padding: 3px 10px;
    border-bottom: 2px groove black;
}

#classes {
    display: block;
    min-height: 50px;
    overflow-y: scroll;
}

.ClassRow {
    cursor: pointer;
}

.ClassRow td {
    padding: 4px 10px;
    border-width: 0;
    border-bottom-width: 1px;
    border-color: gray;
    border-style: solid;
}

.selectedClass {
    background-color: lightgray;
}

.ClassRow:hover {
    background-color: lightblue;
}

#methodData {
    display: grid;
    min-height: 50px;
    grid-template-columns: 70% 30%;
}

#method {
    display: block;
    overflow-y: scroll;
}

.MethodRow {
    cursor: pointer;
}

.MethodRow td {
    padding: 3px 10px;
    border-width: 1px 0;
    border-color: gray;
    border-style: solid;
}

.FieldRow {
    cursor: pointer;
}

.FieldRow td {
    padding: 3px 10px;
    border-width: 1px 0;
    border-color: gray;
    border-style: solid;
}

.MethodDescriptor {
    word-break: break-all;
}

.selectedMethod {
    background-color: lightgray;
}

.MethodRow:hover {
    background-color: lightblue;
}

.FieldRow:hover {
    background-color: lightblue;
}

#params {
    display: block;
    min-height: 50px;
    overflow-y: scroll;
}

#params tbody tr td {
    padding: 3px 10px;
    border-width: 1px 0;
    border-color: gray;
    border-style: solid;
}

#fields {
    display: block;
    min-height: 50px;
    overflow-y: scroll;
}

#fields tbody tr td {
    padding: 3px 10px;
    border-width: 1px 0;
    border-color: gray;
    border-style: solid;
}

.resizer {
    /* Displayed at the right side of column */
    position: absolute;
    top: 0;
    right: 0;
    width: 5px;
    cursor: col-resize;
    user-select: none;
}
