doctype html
html(lang="en-US")
    head
        title WagYourTail
        link(rel= "stylesheet" href= "/static/css/base.css")
        link(rel= "stylesheet" href= "/static/css/sidebar.css")
        script(src= "https://cdn.jsdelivr.net/npm/sweetalert2@10/dist/sweetalert2.min.js" crossorigin="anonymous")
        meta(name="viewport" content="width=device-width, initial-scale=1.0")
        block style
    body
        include global/sidebar.pug
        #content
            header.topbar
                h1(id= "pageTitle")= pagename
                div
                    block externallink
            main#pageContent
                block content
        script(src= "/static/js/base.js")
                    
