extends ../../../globals/base

block style

block content
    h2 Here are some ways you can contact me.
    ul
        li
            b Discord -
            | wagyourtail#3826

        li
            b Email -
            a(href="mailto:wagyourtail@wagyourtail.xyz") wagyourtail@wagyourtail.xyz