html, body {
    margin: 0px;
    font-family: 'Montserrat', monospace;
}

.topbar {
    display: flex;
    justify-content: space-between;
    background-color: #eeeeee;
    width: 100%;
    margin: 0px;
    border-bottom: 2px solid black;
}

.title {
    display: inline-block;
    line-height: 50px;
    padding-left: 10px;
    padding-top: 1.5em;
}

.search {
    display: inline-block;
    padding-right: 5px;
}

.mappingtypes {
    display: inline-block;
}

.mapping {
    display: inline-block;
    padding: 10px;
}

.mapping label {
    display: inline-block;
    padding-top: 5px;
}

.version {
    display: inline-block;
    line-height: 100px;
    margin-right: 15px;
}

.version label {
    display: inline-block;
    line-height: normal;
}

.version #versionSelect {
    margin: 10px;
    display: inline-block;
    height: 30px;
    font-size: 1em;
}

.version #mappingSelect {
    margin: 10px;
    display: inline-block;
    height: 30px;
    font-size: 1em;
}

.input {
    display: inline-block;
    line-height: 100px;
}

.input #searchInput {
    display: inline-block;
    font-size: 1em;
    border: none;
    background-color: #dddddd;
    border-radius: 10px;
    padding: 14px 5px;
    line-height: 1em;
}

.input #searchButton {
    display: inline-block;
    cursor: pointer;
    padding: 0px 15px;
    background-color: #3355FF;
    line-height: 50px;
    border-radius: 10px;
    color: white;
}

.type {
    padding: 0px 10px;
    display: inline-block;
}

.type #searchType {
    height: 40px;
    font-size: 1em;
}

#mobileConfirmPrompt {
    position: fixed;
    margin-top: 100px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: white;
}

#mobileConfirm {
    display:inline-block;
    background-color: #3355FF;
    cursor: pointer;
    padding: 10px 15px;
    background-color: #3355FF;
    border-radius: 10px;
    color: white;
}

#mojangConfirmPrompt {
    position: fixed;
    margin-top: 100px;
    text-align: center;
    width: 50%;
    margin-left: 25%;
    background-color: white;
}

#mojangConfirm {
    margin-right: 5px;
    display:inline-block;
    background-color: #3355FF;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}

#mojangDeny {
    margin-left: 5px;
    display:inline-block;
    background-color: #AAAAAA;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    color: white;
}

#loading {
    position: fixed;
    margin-top: 100px;
    text-align: center;
    width: 100%;
}

#results {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
}

table {
    border: 1px solid black;
}

table tbody {
    width: 100%;
}

th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
    border-width: 0px 1px;
    border-color: black;
    border-style: solid;
}

th, td {
    padding: 3px 10px;
    border-bottom: 2px groove black;
}

#classes {
    display: block;
    min-height: 50px;
    overflow-y: scroll;
}

.ClassRow {
    cursor: pointer;
}

.ClassRow td {
    padding: 4px 10px;
    border-width: 0px;
    border-bottom-width: 1px;
    border-color: gray;
    border-style: solid;
}

.selectedClass {
    background-color: lightgray;
}

.ClassRow:hover {
    background-color: lightblue;
}

#methodData {
    display: grid;
    min-height: 50px;
    grid-template-columns: 70% 30%;
}

#method {
    display: block;
    overflow-y: scroll;
}

.MethodRow {
    cursor: pointer;
}

.MethodRow td {
    padding: 3px 10px;
    border-width: 1px 0px;
    border-color: gray;
    border-style: solid;
}

.MethodDescriptor {
    word-break: break-all;
}

.selectedMethod {
    background-color: lightgray;
}

.MethodRow:hover {
    background-color: lightblue;
}

#params {
    display: block;
    min-height: 50px;
    overflow-y: scroll;
}

#params tbody tr td {
    padding: 3px 10px;
    border-width: 1px 0px;
    border-color: gray;
    border-style: solid;
}

#fields {
    display: block;
    min-height: 50px;
    overflow-y: scroll;
}

#fields tbody tr td {
    padding: 3px 10px;
    border-width: 1px 0px;
    border-color: gray;
    border-style: solid;
}
