#content {
    position: fixed;
    left: 200px;
    top: 0px;
    height: 100%;
    border: none;
}

.topbar {
    padding-left: 10px;
    display: block;
    border-bottom: 3px solid rgb(240,240,240);
    width: 100%;
}

.topbar div {
    display: inline-block;
}

#pageTitle {
    display: inline-block;
    padding-right: 50px;
}

.topbar h1 {
    padding-top: 16px;
    margin-bottom: 9px;
}

#pageContent {
    overflow-y: scroll;
    overflow-x: wrap;
    margin-left: 10px;
}

#pageTitle {
    margin-top: 0px;
    margin-bottom: 9px;
}

#description {
    max-width: 800px;
}
