doctype html
html
    head
        title MCP Mappings Viewer
        link(rel= "stylesheet" href= "/static/css/mcp/app.css")
    body
        .topbar
            .title
                h1 MCP Mappings Viewer
                p If it's not working, blame 
                    a(href="http://mcpbot.bspk.rs") mcpbot.bspk.rs
                    |  and 
                    a(href="http://files.minecraftforge.net") files.minecraftforge.net 
                    | for not having CORS; The proxy's probably down.
            .search
                .version
                    select(id= "versionSelect")
                    select(id= "mappingSelect" style= "visibility: hidden;")
                .input
                    input(type= "search" id= "searchInput")
                    .type
                        select(id= "searchType")
                            option(name="keyword" value="0") keyword
                            option(name="class" value="1") class
                            option(name="method" value="2") method
                            option(name="field", value="3") field
                    #searchButton Search
        #loading
            img(src= "/static/other/Spinner-1s-200px.svg" alt= "loading")
            div loading
        #mobileConfirmPrompt(style= "visibility: hidden;")
            p Warning. this website runs everything on your device and as such it is not recommended to use mobile. by continuing you risk crashing your browser.
            #mobileConfirm accept the risk
        #results(style= "visibility: hidden;")
            table(id= "classes" cellspacing= "0")
                thead
                    tr
                        th obfuscated
                        th named
                tbody(id= "ClassTable")
            #methodData
                table(id= "method" cellspacing= "0")
                    thead
                        tr
                            th obfuscated
                            th descriptor
                            th intermediary
                            th named
                    tbody(id= "MethodTable")
                table(id= "params" cellspacing= "0")
                    thead
                        tr
                            th #
                            th named
                    tbody(id= "ParamsTable")
            table(id= "fields" cellspacing= "0")
                thead
                    tr
                        th obfuscated
                        th intermediary
                        th named
                tbody(id= "FieldTable")
        script(src= "https://cdnjs.cloudflare.com/ajax/libs/mobile-detect/1.4.4/mobile-detect.min.js")
        script(src= "https://cdn.rawgit.com/Stuk/jszip/master/dist/jszip.min.js")
        script(src= "/static/js/mcp/app2.js")
