extends ../base.pug

block style
    style
        include About Me.css

block content
    h2(id= "name") William Gray
    h4(id= "title") Computer Engineering Student, Embry–Riddle Aeronautical University
    p(id= "description") I am a semi-self taught programmer that develops and contributes to some open source projects. I have experience with JavaScript, Python, Java, Lua, MATLAB, and C. I also have experience with some other programming languages to a lesser degree. Some projects I have developed have included Minecraft mods and Discord bots, as well as some webpages. 
