extends ../base.pug

block style
    style
        include About Me.css

block content
    //-    h2(id= "name") William Gray
    //-    h4(id= "title") Computer Engineering Student, Embry–Riddle Aeronautical University
    //-        br
    //-        | 
    p(id= "description") I am a semi-self taught programmer that develops and contributes to some open source projects. I have experience with JavaScript, Python, Java, Lua, MATLAB, and C. I also have experience with some other programming languages to a lesser degree. Some projects I have developed have included Minecraft mods and Discord bots, as well as some webpages.
        br
        br
        | In highschool I participated in a couple notable clubs one of these was 
        a(href= "https://www.uscyberpatriot.org") CyberPatriot
        |  In which me and my team were able succeed at computer security. We made it to the top 12 national teams for the open division 2 years in a row. From this I have experience with the security and operation of many linux and some windows security practices, as well as security practices for common applications on those platforms.
        br
        br
        | Another club I participated in was 
        a(href= "https://www.firstinspires.org/robotics/frc") FIRST Robotics Competition
        | .
        //-  As a part of FRC team 4418, and later team 5589, 
        |  I was a member, and later a leader of, the software team. For a couple of those years my team would use National Instrument's LabVIEW as our code for the robot, but as we became more ambitious and tried to integrate the vision api, we realized that LabVIEW was not suited towards such intensive operation. We therefore switched to using Java as our language of choice as it provided more power as well as flexibility as we could more easily offload and onload data over the network in order to take advantage of a Raspberry Pi co-processor.
