extends ../base.pug


block style
    style
        include Js Macros.css
        
block content
    h2 Fabric macros mod for minecraft.
    p(id= "description") This is a minecraft mod in order to create a fully programmable macros environment for minecraft.
    h4 Visit 
        a(href= "https://github.com/wagyourtail/JsMacros") here
        |  for this project's git.
