extends ../base.pug


block style
    style
        include Quality Bot.css

block externallink
    h4 Visit 
        a(href= "https://qualitybot.xyz") here
        |  for this project's website.

block content
    h2 Discord Moderation Bot.
    p(id= "description") Quality Bot is a modular Discord bot written in JavaScript. I created it in order to enchance the moderation and automation of certain functions of my and my friends Discord server's, since then I have been asked to add features to it in order to facilitate some more automation tasks. It has also grown as the bot is public and more users add it to their servers. I re-coded the bot when I decided to make a website in order to use a proper database instead of JSON files for storing user/server data. The development of a plugin is fairly straightforward and allows for flexibility. Coding this bot improved my abilities with Node.js and I've become proficient with async data and other modern JavaScript features. This was also my first exposure to Redis as I chose that for the database to be used by QualityBot, this database has a non-sql structure.
