extends ../base


block style
    style
        include Js Macros.css

block externallink
    h4 Visit this project's webpage at 
        a(href="https://jsmacros.wagyourtail.xyz/") jsmacros.wagyourtail.xyz
        
block content
    h2 Fabric macros mod for minecraft.
    p(id= "description") This is a minecraft mod in order to create a fully programmable macros environment for minecraft.
        | You can find the full documentation on the website 
        a(href= "https://jsmacros.wagyourtail.xyz/") here
        | .
        | Example scripts sometime soon.
    h4 macro menu
    image(src="/static/other/macromenu.PNG" width="800px")
    h4 gui test
    image(src="/static/other/guitest.PNG" width="800px")
    h4 2d/3d draw test
    image(src="/static/other/2d+3dtest.PNG" width="800px")
