extends ../../../globals/base

block style

block externallink
    h4
        a(href="/Projects/MinecraftMappingViewer/App") Open The App

block content
    h2 Viewer for the all minecraft mappings
    p#description This started as Yarn Mappings Viewer, In order to use JsMacros better I needed an easy to use viewer for the yarn mappings. At this point the project has grown to a Minecraft Mappings Viewer that combines all 3 mappings into a single page.
        | I'll probably make it look a little better at some point in the future, but for now it doesn't have much styling, much like the rest of this website.
    h4(style="margin:5px") Visit
        a(href= "/Projects/MinecraftMappingViewer/App") here
        |  for this project's web page.
    h4(style="color:red; margin:0px") WARNING - MAY CRASH MOBILE BROWSERS.
    p(style="color:red; margin:0px") Due to all processing being browser-side.
